html, body {
    width: 100%;
    max-width: 1400px;
    height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: 'Arial', sans-serif;
}
body {
    position: relative;
}

input, li, span {
    padding: 0px;
    margin: 0px;
}
input {
    text-align: center;
    -webkit-appearance: none;
}

input[type=date]::-webkit-inner-spin-button {
    display: none;
}

.colorDisabled input{
    background: #f5f5f5;
}

/* top menu */
.topMenu {
    height: 10%;
    padding-top: 3px;
}



.topMenuMiddle button {
    width: 20%;
    float: left;
}
div.categoryWidget {
    width: 100%;
    display: inline-block;
    line-height: 1.5em;
    vertical-align: middle;
    text-align: left;
    margin-left: 5px;
}
.categoryWidget label, .categoryWidget select {
    margin: 2px;
    display: inline-block;
    width: 80%;
    margin-top: 10px;
}
.categoryWidget select {
    z-index: 1000;
    position: relative;
}
#categorySelect option:first-child {
    color: red;
}
.categoryWidget input {
    display: inline-block;
    width: 70%;
    border: 0;
    line-height: 2em;
    position: relative;
}
.categoryWidget h1 {
    font-size: 0.8em;
    border-top: 1px solid;
    width: 70%;
    margin: 0px;
    padding-left: 30px;
}
#categorySelectPrev {
    padding: 0px;
    margin: 0px;
    float: left;

}
div.topMenu {

}
.topMenuMiddle {
    width: 45%;
    height: 100%;
    float: left;
}
.topMenuMiddle button {
    height: 100%;
}

.topMenu div.space
{
    width: 5%;
    display: inline-block;
}

/*------------- main header -----*/
.mainHeader {
    margin: 0px;
    padding: 0px;
    height: 50px;
}

.mainHeader > div {
    display: inline-block;
    height: 50px;
    vertical-align: top;
}
.mainHeader .img {
    width: 20%;
}
.mainHeader .menu {
    width: 40%;
    text-align: center;
}
.mainHeader .plan {
    width: 20%;
}
.mainHeader .planInput {
    width: 20%;
}

.mainHeader .img img {
    width: 100%;
    height: 100%;
}
.mainHeader .menu h1 {
    margin: auto;
    margin-top: 10px;
    display: block;
    background: yellow;
    width: 60px;
    text-align: center;
    padding: 3px;
    font-size: 8px;
}



.mainHeader div.left {
    float: left;
}
.mainHeader div.right {
    float: left;
    text-align: right;
}
.left > img {
    float: left;
    margin-left: 5% ;
}


.left label {
    margin-left: 5%;
    width: 100%;
    text-align: center;
    display: block;
}
.right div.space {
    height: 1em;
    margin-top: 5px;
}
.right label {
    font-weight: bold;
}
.right input {
    width: 40%;
}


.mainHeader input {
    border: 0px;
    border-bottom: 1px solid;
}
.left #category {
    width: 100%;
}
.left #code {
    width: 40%;
    position: absolute;
    margin-left: 5px;
}
.pie {
    width: 16px;
    margin-left: 43%;
    border: 1px solid;
}


/*------------- sheets -----*/
div.sheets {

}

/*------------- table -----*/
div.tableHeader {
    border: 1px solid;
}
.tableHeader table {
    border-collapse:collapse;
}


.tableHeader div {
    display: table-cell;
    border-right: 1px solid;
    width: 12%;
    vertical-align: middle;
    text-align: center;
    height: 3.1em;
}

.tableHeader span {
    display: table-cell;
    border-right: 1px solid;
    width: 12%;
    vertical-align: middle;
    text-align: center;
    height: 3.1em;
}
.tableHeader input, .tableHeader textarea {
    width: 100%;
    border: 0px;
    text-align: center;

    margin: 0px;
    resize: none;
    overflow:hidden

}

div.fourLines {
    font-size: 0.5em;
    height: 6.2em;
}
div.balance {
    border-right: 0px;
}
ul {
    border: 1px solid;
    border-bottom: 0px;
    padding: 0px;
    margin: 0px;
    overflow: scroll;
}
li {
    list-style-type: none;
    border-bottom: 1px solid;
}
.content span {
    border-right: 1px solid;
    display: table-cell;
    width: 12%;
}
.content span.last {
    border: 0px;
}
.content span.paid {
    position: relative;
    padding-right: 0.5em;
}
.paid select {
    width: 1em !important;
    height: 1em;
    position: absolute;
    top: 0.1em;
    right: 0px;
    -webkit-appearance: none;
    border-color: transparent;
    border-radius: 0px;
    background: url(../img/rowDown.png) no-repeat center;
    background-size: 1em 1em;
    text-indent: 100%;
}


.old {
    border-left: 6px solid transparent;
    border-right: 5px solid transparent;
    border-top: 13px solid red;
}

.paid input {
    text-align: left !important;
}
.description input {
    text-align: left;
    text-indent: 2px;
}
.content input {
    border: 0px solid;
    width: 100%;
}

div.row {
    height: 100%;
    width: 10%;
    position: relative;
    background: grey;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}
#categorySelectPrev
{
    width: 20%;
}
#categorySelectNext
{
    display: none;
}
.row.delete
{
    width: 15%;
}
div#categorySelectPrev {
    float: left;

}

.topMenuMiddle .row {
    float: left;
    overflow: hidden;
    border-left: 2px solid white;
}
div.row {
    background: #d9dde0;
    font-family: Arial;
    color: #000000;
    text-decoration: none;
}
div.row:active {
    background: #e3e3e3;
    text-decoration: none;
}

div.rowLeft2:active:after {
    background: url(../img/rowLeftHover.png) no-repeat center;
    left: -5px;
}
div.rowRight2:active:after {
    background: url(../img/rowRightHover.png) no-repeat center;
    right: -5px;
}
div.row {
    background: #d9dde0;
    background-image: -webkit-linear-gradient(top, #d9dde0, #a4a9ad);
    background-image: -moz-linear-gradient(top, #d9dde0, #a4a9ad);
    background-image: -ms-linear-gradient(top, #d9dde0, #a4a9ad);
    background-image: -o-linear-gradient(top, #d9dde0, #a4a9ad);
    background-image: linear-gradient(to bottom, #d9dde0, #a4a9ad);
    font-family: Arial;
    color: #000000;
    text-decoration: none;
}

.gradGrey {
    background: #d9dde0;
    background-image: -webkit-linear-gradient(top, #d9dde0, #a4a9ad);
    background-image: -moz-linear-gradient(top, #d9dde0, #a4a9ad);
    background-image: -ms-linear-gradient(top, #d9dde0, #a4a9ad);
    background-image: -o-linear-gradient(top, #d9dde0, #a4a9ad);
    background-image: linear-gradient(to bottom, #d9dde0, #a4a9ad);
}

div.row_old:hover {
    background: #e3e3e3;
    background-image: -webkit-linear-gradient(top, #e3e3e3, #daddde);
    background-image: -moz-linear-gradient(top, #e3e3e3, #daddde);
    background-image: -ms-linear-gradient(top, #e3e3e3, #daddde);
    background-image: -o-linear-gradient(top, #e3e3e3, #daddde);
    background-image: linear-gradient(to bottom, #e3e3e3, #daddde);
    text-decoration: none;
}

#rowRight {
    display: block;
    position: absolute;
    top: 40%;
    margin-left: 10px;
}
#rowRight:before, #rowRight:after {
    content: "";
    position: absolute;
    background: white;
}
#rowRight:before {
    top: 4px;
    width: 15px;
    height: 8px;
}
#rowRight:after {
    left: 12px;
    border-top: 8px solid transparent;
    border-left: 9px solid white;
    border-bottom: 8px solid transparent;
    background: transparent;

}

#rowLeft {
    display: inline-block;
    position: absolute;
    top: 40%;
    margin-left: -10px;

}
#rowLeft:before, #rowLeft:after {
    content: "";
    position: absolute;
    background: white;
}
#rowLeft:before {
    top: 4px;
    left: 5px;
    width: 15px;
    height: 8px;
}
#rowLeft:after {
    border-top: 8px solid transparent;
    border-right: 9px solid white;
    border-bottom: 8px solid transparent;
background: transparent;

}


div.rowLeft2 {
    margin-left: 10px;
}

div.row:after {
    content: "";
    width: 30px;
    height: 40px;
    position: absolute;
}

div.rowLeft2:after {
    background: url(../img/rowLeft.png) no-repeat center;
    left: -5px;
    background-size: contain;
}

div.rowRight2:after {
    background: url(../img/rowRight.png) no-repeat center;
    right: -5px;
    background-size: contain;
}
.rowLeft2 span {
     width: 100%;
     text-align: center;
     left: 6px;
     position: absolute;
 }
.rowRight2 span {
    width: 100%;
    text-align: center;
    left: -12px;
    position: absolute;
}
/* ------------------ checkbox */
.instructions .clickable {
    cursor: pointer;
}


input[type=checkbox] {
    display: none;
    margin: 3px 3px 3px 4px;
    -webkit-appearance: checkbox;
    box-sizing: border-box;
}
input[type=checkbox]:checked {

    background: red;
}

label.checkboxFive {
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
    background: #eee;
    border: 2px solid black;
    display: inline-block;
    vertical-align: middle;
    margin: 5px 10px 5px 20px;
    position: relative; /* for :after absolute element */
}
label.checkboxFive:after {
    display: block;
    opacity: 0.2;
    content: '';
    width: 9px;
    height: 5px;
    background: transparent;
    top: 6px;
    left: 7px;
    border: 3px solid #333;
    border-top: none;
    border-right: none;
    position: absolute;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
label.checkboxFive:checked:after {
    opacity: 1;

}

input[type="checkbox"]:checked+label:after
{
    opacity: 1;
}




/* ------------------ */



div.instructions {
    display: none;
    font-size: 1.5em;
    line-height: 1.5em;
    margin-top: 7px;
}

.instructions h1 {
    font-size: 1em;
    padding: 4%;
    padding-top: 0px;
    padding-bottom: 2%;
    margin: 0px;
}


.pieDelete {
    position: absolute;
    right: 0px;
    padding: 4%;
    z-index: 200;
}
.piePage {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
}

.piePage h1 {
    text-align: center;
    margin-bottom: 0px;
    font-size: 1em;
    width: 60%;
    margin: auto;
    margin-top: 1em;
}
.pieWrapper {
    width: 100%;
    margin: auto;
}
#chartdiv {
    margin: auto;
}
#chartdivTable {
    z-index: 110;
    position: absolute;
    width: 100%;
    background: white;
}
#chartdivTable table {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
    text-indent: 0.5em;
}
#chartdivTable td:nth-child(2) {
    text-align: right;
    padding-right: 0.5em;
}
#chartdivTable table, #chartdivTable th, #chartdivTable td {
    border: 1px solid black;
    margin-bottom: 10px;
}
#chartdivTable td:first-child {
    width: 70%;
}
#chartdivTable table.avialable {
    margin-bottom: 20px;
}
#menu{
    display: none;
    position: absolute;
    top: 10%;
    height: 80%;
    width: 100%;
    background: #e3e3e3;
}
#menu > div {
    display: inline-block;
    width: 50%;
    vertical-align: top;
}
#menu h1 {
    font-size: 100%;
}


#log {
    display: none;
}
#log textarea {
    width: 100%;
    position: fixed;
    bottom: 0;
    height: 20%;
}

/* =========================================================== media query */
@media only screen and (min-width: 0px)  and (max-width: 370px) {
    .topMenu {
        height: 20px;
        line-height: 20px;
    }
    div.row:after {
        width: 20px;
        height: 20px;
    }
    .mainHeader label, .mainHeader select,
    .topMenuMiddle div,.topMenu .row, .categoryWidget input {
        font-size: 8px;
        margin-top: 0px;
    }
    .categoryWidget, .categoryWidget select {
        font-size: 0.8em;
    }
    div.categoryWidget {
    }
    .categoryWidget input {
        width: 73%;
    }
    .categoryWidget input, .categoryWidget select {
        z-index: 100;
    }
    .mainHeader input {
        font-size: 0.5em;
        line-height: 1em;
    }
    .mainHeader div.left {
        width: 50%;
    }
    .left > img {
        width: 2em;
        margin-left: 5px;
        margin-top: 10px;
    }
    .left > div {
        margin-top: 30px;
        margin-left: 30px;
    }
    .left label
    {
        vertical-align: top;
    }

    .mainHeader div.right {
        width: 50%;
        margin-top: 10px;
    }
    .tableHeader {
        font-size: 0.4em;

    }
    div.description {
        width: 15% !important;
    }
    span.description {
        width: 15% !important;
    }
    .content input, .content select {
        font-size: 0.7em;
    }
    .paid {
        font-size: 80%;
    }
    .paid select {
        top: 0.7em;
    }
    div.instructions {
        font-size: 0.8em;
        line-height: 1em;
        margin-top: 7px;
    }

}
@media only screen and (min-width: 371px)  and (max-width: 390px) {

    .topMenu {
        height: 20px;
        line-height: 20px;
    }
    div.row:after {
        width: 20px;
        height: 20px;
    }
    .mainHeader h1, .mainHeader label, .mainHeader select,
    .topMenuMiddle div,.topMenu .row, .categoryWidget input {
        font-size: 8px;
    }
    .categoryWidget, .categoryWidget select {
        font-size: 0.8em;
    }
    div.categoryWidget {
        width: 90%;
    }
    .categoryWidget input {
        width: 73%;
    }
    .categoryWidget input, .categoryWidget select {
        z-index: 100;
    }
    .mainHeader input {
        font-size: 0.5em;
        line-height: 1em;
    }
    .mainHeader div.left {
        width: 50%;
    }
    .left > img {
        width: 2em;
        margin-left: 5px;
        margin-top: 10px;
    }
    .left > div {
        margin-top: 30px;
        margin-left: 30px;
    }
    .left label
    {
        vertical-align: top;
    }
    .mainHeader div.right {
        width: 50%;
        margin-top: 10px;
    }


    .tableHeader {
        font-size: 0.5em;
    }
    div.description {
        width: 15% !important;
    }
    span.description {
        width: 15% !important;
    }
    .content input, .content select {
        font-size: 0.5em;
    }
    .paid select {
        top: 0.5em;
    }
    div.instructions {
        font-size: 0.8em;
        line-height: 1em;
    }

}
@media only screen and (min-width: 391px)  and (max-width: 470px) {

    .topMenu {
        height: 20px;
        line-height: 20px;
    }
    div.row:after {
        width: 20px;
        height: 20px;
    }
    .mainHeader h1, .mainHeader label, .mainHeader select,
    .topMenuMiddle div,.topMenu .row, .categoryWidget input {
        font-size: 8px;
    }
    .categoryWidget, .categoryWidget select {
        font-size: 0.8em;
    }
    div.categoryWidget {
        width: 90%;
    }
    .categoryWidget input {
        width: 73%;
    }
    .categoryWidget input, .categoryWidget select {
        z-index: 100;
    }
    .mainHeader input {
        font-size: 0.5em;
        line-height: 1em;
    }
    .mainHeader div.left {
        width: 50%;
    }
    .left > img {
        width: 2em;
        margin-left: 5px;
        margin-top: 10px;
    }
    .left > div {
        margin-top: 30px;
        margin-left: 30px;
    }
    .left label
    {
        vertical-align: top;
    }
    .mainHeader div.right {
        width: 50%;
        margin-top: 10px;
    }
    .tableHeader {
        font-size: 0.7em;
    }
    div.description {
        width: 15% !important;
    }
    span.description {
        width: 15% !important;
    }
    .content input, .content select {
        font-size: 0.7em;
    }
    .paid select {
        top: 0.3em;
    }
    div.instructions {
        font-size: 1em;
        line-height: 1.5em;
    }

}
@media only screen and (min-width: 471px)  and (max-width: 550px) {
    .topMenu {
        height: 30px;
        line-height: 30px;
    }
    div.row:after {
        width: 25px;
        height: 30px;
    }
    .topMenuMiddle div, .topMenu .row {
        font-size: 0.8em;
    }
    .mainHeader h1 {
        font-size: 1em;
        line-height: 1em;
    }
    .mainHeader div.left {
        width: 50%;
    }
    .left > img {
        width: 50px;
    }
    .left > div {
        margin-top: 40px;
        margin-bottom: 10px;
    }
    .pie {
        width: 25px;
    }
    .mainHeader div.right {
        width: 50%;
        margin-top: 20px;
    }
    .tableHeader {
        font-size: 0.8em;
    }
    div.description {
        width: 15% !important;
    }
    span.description {
        width: 15% !important;
    }
    div.instructions {
        font-size: 1em;
        line-height: 1.5em;
    }

}

@media only screen and (min-width: 551px)  and (max-width: 800px) {
    .topMenu {
        height: 30px;
        line-height: 30px;
    }
    div.row:after {
        width: 25px;
        height: 30px;
    }
    .mainHeader h1 {
        font-size: 1em;
        line-height: 1em;
    }
    .mainHeader div.left {
        width: 50%;
    }
    .left > img {
        width: 70px;
    }
    .left > div {
        margin-top: 50px;
        margin-bottom: 10px;
    }
    .pie {
        width: 25px;
    }
    .pieWrapper {
        font-size: 25px;
    }
    .piePage h1,.piePage .pieDelete {
        font-size: 1.5em;
    }
    .mainHeader div.right {
        width: 50%;
        margin-top: 15px;
    }
    div.description {
        width: 35% !important;%;
    }
    span.description {
        width: 35% !important;
    }
    div.instructions {
        font-size: 1em;
        line-height: 1.5em;
    }

}

@media only screen and (min-width: 801px)  and (max-width: 1050px) {
    .topMenu {
        height: 30px;
        line-height: 30px;
    }
    div.row:after {
        width: 15px;
        height: 30px;
    }
    .topMenu h1{
        font-size: 0.8em;
    }
    .mainHeader h1, .mainHeader label, .mainHeader select,
    .topMenuMiddle div,.topMenu .row {
        font-size: 1.5em;
    }
    .categoryWidget, .categoryWidget select, .categoryWidget input {
        font-size: 1em;
    }
    .categoryWidget input{
        margin-top: 0px;
    }
    .mainHeader input {
        font-size: 2em;
        line-height: 1em;
    }

    .mainHeader div.left {
        width: 50%;
    }
    .right div.space {
        margin-top: 35px;
    }
    .left > img {
        width: 100px;
        margin-left: 0px;
    }
    .tableHeader {
        font-size: 1.5em;
    }
    div.rowLeft2:after {
        left: 0px;
    }
    div.rowRight2:after {
        right: 0px;
    }
    .left > div {
        margin-top: 60px;
        margin-bottom: 20px;
    }
    .pie {
        width: 45px;
    }
    .pieWrapper {
        font-size: 30px;
    }
    .piePage h1,.piePage .pieDelete {
        font-size: 2em;
    }
    .mainHeader div.right {
        width: 50%;
    }
    div.mainHeader {
        padding-top: 20px;
    }
    div.description {
        width: 24% !important;
    }
    span.description {
        width: 24% !important;
    }
    div.instructions {
        font-size: 2.5em;
        line-height: 1.8em;
        margin-top: 25px;
    }
    .content input, .content select {
        font-size: 1.5em;
    }
    label.checkboxFive {
        width: 55px;
        height: 55px;
        margin: 10px 10px 10px 40px;
    }
    label.checkboxFive:after {
        width: 29px;
        height: 15px;
        top: 12px;
        left: 13px;
        border-width: 6px;
    }


}

@media only screen and (min-width: 1051px)  {
    .topMenu {
        height: 60px;
        line-height: 60px;
    }
    div.row:after {
        width: 40px;
        height: 40px;
    }
    .topMenu h1{
        font-size: 0.8em;
    }
    .categoryWidget input{
        margin-top: 0px;
        font-size: 1em;
    }
    .mainHeader h1, .mainHeader label, .mainHeader select,
    .topMenuMiddle div,.topMenu .row {
        font-size: 2em;
    }
    .categoryWidget, .categoryWidget select {
        font-size: 1em;
    }
    .mainHeader input {
        font-size: 2em;
        line-height: 1em;
    }

    .mainHeader div.left {
        width: 50%;
    }
    .right div.space {
        margin-top: 35px;
    }
    .left > img {
        width: 120px;
        margin-left: 0px;
    }
    .tableHeader {
        font-size: 2em;
    }
    div.row:after {
        width: 20px;
        height: 60px;
        background-size: 20px 60px;
    }
    div.rowLeft2:after {
        left: 0px;
    }
    div.rowRight2:after {
        right: 0px;
    }
    .left > div {
        margin-top: 70px;
        margin-bottom: 20px;
    }
    .pie {
        width: 55px;
    }
    .pieWrapper {
        font-size: 40px;
    }
    .piePage h1,.piePage .pieDelete {
        font-size: 3em;
    }
    .mainHeader div.right {
        width: 50%;
    }
    div.mainHeader {
        padding-top: 30px;
    }
    div.description {
        width: 24% !important;
    }
    span.description {
        width: 24% !important;
    }
    div.instructions {
        font-size: 2.5em;
        line-height: 1.8em;
    }
    .content input, .content select {
        font-size: 1.5em;
    }
    label.checkboxFive {
        width: 55px;
        height: 55px;
        margin: 10px 10px 10px 40px;
    }
    label.checkboxFive:after {
        width: 29px;
        height: 15px;
        top: 12px;
        left: 13px;
        border-width: 6px;
    }

}


